.icons {
  margin: 0 auto;
  margin-top: -20px;
  width: 80%;
}

.icon-logo {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  padding: 50px;
}

.icon-text {
  display: block;
  margin-top: 0px;
  font-size: 24px;
}
