header {
  width: 100%;
  background-color: $main-blue;
  height: 120px;
  position: static;
  margin: 0 auto;
  margin-bottom: -80px;
}

nav {
  @extend header;
  width: 90%;

  > .nav-links {
    list-style-type: none;
    float: right;
    margin: 0 auto;
    display: inline-block;
    font-size: 16px;

    > li {
      margin-top: 15px;
      float: right;
      padding: 30px;

      > a:hover {
        color: darkblue;
      }
    }
  }
}
