@import 'defaults';
@import 'buttons';
@import 'icons';
@import 'grid';

/** NAVIGATION BAR **/
nav {
  @extend header;
  width: 90%;

  > .nav-links {
    list-style-type: none;
    float: right;
    margin: 0 auto;
    display: inline-block;
    font-size: 16px;

    > li {
      margin-top: 15px;
      float: right;
      padding: 30px;

      > a:hover {
        color: darkblue;
      }
    }
  }
}

/* TOP PAGE / INTRO INDEX PAGE */
.splash-index {
  @extend .top-page;
  background: $index-bg;
}

.intro-index {
  @extend .content;
  color: #fff;
  width: 50%;

  h1 {
    padding-top: 70px;
    font-size: 96px;
    font-weight: 300;
  }

  .mouse-scroll-logo {
    padding-top: 100px;
  }
}

/* MIDDLE SECTION / LEARNING INDEX PAGE*/
.learning-index {
  @extend .content;

  h2 {
    margin-top: 72px;
    font-size: 42px;
    font-weight: 300;
    color: $main-blue;
  }
}

.help-index {
  @extend .content;
  padding-bottom: 50px;

  .help-links {
    margin-right: 20px;
    font-size: 16px;
    color: $main-blue;
    font-weight: 700;
  }

  .help-links img {
    margin-left: 20px;
  }
}

/* BOTTOM SECTION / OUTRO INDEX PAGE */
.footer-index {
  @extend .content;

  .icon-logo {
    padding: 40px;
    padding-bottom: 100px;
  }

  .icon-text {
    @extend .medium-text;
  }
}

.outro-index {
  @extend .content;
  width: 55%;

  h3 {
    font-size: 42px;
    font-weight: 300;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 20px;
  }
}

/* media query */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .intro-index h1 {
      font-size: 60px;
    }
    /* puts icons into two rows of 2 on smaller device */
    .learning-index .icon-logo {
      padding-left: 80px;
      padding-right: 80px;
    }

    .footer-index .icon-logo {
      padding-left: 80px;
      padding-right: 80px;
    }
  }
